.parentitems {
  width: 95vw;
  height: 70vh;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.subparentitems {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.part1 {
  width: 45%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.part2 {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 45%;
  height: 70%;
  text-align: center;
  color: black;
}
.item {
  width: 100%;
  height: 70%;
  font-size: 3rem;
}
.item:hover {
  background-color: rgba(190, 81, 190, 0.3);
  width: 100%;
  height: 70%;
  font-size: 3rem;
}
#playbtn:hover {
  background-color: black;
  color: white;
}
#setbtn {
    width:5rem ;
}
#setname{
    display: flex;
    display: none;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 45%;
  height: 70%;
  text-align: center;
  color: black;
}
